<?xml version='1.0' encoding='utf-8'?>
<widget
        id="com.phonegap.CEMascots"
        version="1.0.0"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0">
    <name>CE Mascots</name>
    <description>
        How well do you know Christ Embassy citizens
    </description>
    <author email="tolulopeibiyode@gmail.com" href="#">
        Gods1son
    </author>
    <content src="choose.html" />
    <icon height="48" src="Images/android-icon-48x48.jpg" width="48"/>
    <icon height="48" platform="android" src="Images/android-icon-48x48.jpg" width="48"/>
    <icon height="48" platform="ios" src="Images/android-icon-48x48.jpg" width="48"/>
    <icon height="48" platform="windows" src="Images/android-icon-48x48.jpg" width="48"/>
    <preference name="orientation" value="portrait"/>
    <plugin name="cordova-plugin-dialogs" source="npm"/>
    <plugin name="cordova-plugin-exitapp" source="npm"/>
</widget>
