/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  .imgHolder {
        width: 20%;
        height:40vh;
    }
   .level
   {
   		height: 5%;
   	}  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
 .imgHolder {
        width: 20%;
        height:40vh;
    }  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
 .imgHolder {
        width: 95%;
        height: 45vh;
    }  
  .buttonHolder {
		width: 95vw;
		margin: 20px auto;
		text-align: -webkit-center;
		height: 45vh;
	}
.buttonHolder button
	{
		width: 100%;
		height: 7.5vh;
	}
    body{
        font-size: 2em;
    }
    .score{
        height: 60px;
    }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
 .imgHolder {
        width: 30%;
    }  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
 .imgHolder {
        width: 95%;
        height: 45vh;
    } 
  .buttonHolder button
	{
		width: 100%;
		height: 7.5vh;
	} 
 .score{
        height: 30px;
    }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
 .imgHolder {
        width: 95%;
        height: 45vh;
    }  
    .buttonHolder {
		width: 95vw;
		margin: 20px auto;
		text-align: -webkit-center;
		height: 45vh;
	}
	.buttonHolder button
	{
		width: 100%;
		height: 7.5vh;
	}
     .score{
        height: 30px;
    }
}

.animQuick {
    animation-duration: 1s !important;
}

.animNorm {
    animation-duration: 2s !important;
}

/*end of media query*/
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 99vw;
    height: 99vh;
}

#infoButton{
	background: white;
    position: absolute;
    z-index: 99;
    top: 32%;
    right: 0%;
    writing-mode: vertical-rl;
    padding: 10px 0;
    letter-spacing: 3px;
    font-weight: 900;
    font-size: 18px;
    border: 2px ridge black;
	cursor:pointer;
}

#info{
	position: absolute;
    background: white;
    padding: 0px;
    right: 6%;
    height: 100%;
    width: 94%;
    border-radius: 5%;
    overflow: auto;
}

#infoText{
	padding:10px;
	line-height: 1.8em;
}

.hide{
	display:none;
}

#winImage{
	position: absolute;
    z-index: 3;
    opacity: 0.6;
	height:100%;
	width:100%;
}

#winImage img{
	width:100%;
	height:100%;
}

#closeTop{
	text-align: right;
    padding: 5px 5px 0 5px;
    color: red;
    font-weight: 900;
    font-size: 1.5em;
}

#closeX{
	border: 1px solid red;
    border-radius: 50%;
    padding: 1px 5px;
    background: red;
    color: white;
}

.menuButton
{
    font-weight: 700;
    border: 1px solid gray;
    background-color: aqua;
    padding: 1px 10px;
    border-radius: 5px;
    color: black;
    letter-spacing: 5px;	
}

.imgHolder {
  position: relative;
  /*width: 20%;*/
    margin: 0 auto;
    border:2px ridge transparent;
    border-radius: 10px;
}

#theImage{
    width:100%;
    height: 100%;
    border-radius: 10px;
   /* position: absolute;*/
}

.buttonHolder button{
    display: block;
    border: 2px groove grey;
    border-radius: 5px;
    font-size: 1.3em;
    margin: 10px 0;
    text-transform: uppercase;
    cursor: pointer;
    background-color:darkturquoise;
    font-family: Verdana, Geneva, sans-serif;
} 

.buttonHolder button:hover{
    color:darkblue;
    font-weight: 700;
}

.buttonHolder{
    width:95vw;
    margin: 0px auto;
    text-align: -webkit-center;
}

.score{
    width:95vw;
    margin: 5px auto 2px;
    /*text-align: -webkit-center;*/
}

.score span{
    font-size: 1.3em;
    color:aqua;
}

.correct {
    color:white;
    -webkit-animation-name: right; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: right;
    animation-direction:alternate;
    animation-duration: 1s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes right {
    from {background-color: green;}
    to {background-color: darkgreen;}
}

/* Standard syntax */
@keyframes right {
    from {background-color: green;}
    to {background-color: darkgreen;}
}

.incorrect {
    color:white;
    -webkit-animation-name: wrong; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: wrong;
    animation-direction:alternate;
    animation-duration: 1s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes wrong {
    from {background-color: red;}
    to {background-color: orangered;}
}

/* Standard syntax */
@keyframes wrong {
    from {background-color: red;}
    to {background-color: orangered;}
}
